header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: #fff;
    padding: 0 50px;
}
header ul{
    display:flex;
    gap: 33px;
}
header li{
    list-style-type: none;
}
header a{
    color: #fff;
    text-decoration: none;

}

