header{
    display: flex;
    justify-content: space-between;
    background-color: #5c3977;
    color: #fff;
    padding: 0 20px
}
header ul{
    display:flex;
    gap: 10px;
}
header li{
    list-style-type: none;
}
header a{
    color: #fff;
    text-decoration: none;

}

