*{
  box-sizing: border-box;
}
body{
  --primary-color: #5c3977;
  --primary-light: #8452ab;
  --secondary-color: #ee5340;
  margin: 0;
  text-align: center;
}
h1,p,li,a{
  font-family:Arial, Helvetica, sans-serif
}
#title{
  font-weight: 400;
  font-size:60px;
  text-transform: uppercase;
  margin-top: 100px;
  padding: 0 50px;
}
p.subtitle{
  font-size: 20px;
  letter-spacing: 1px;
  position: relative;
  top: -20px;
  padding: 0 50px;
}

